body {
	margin: 0;
} 

li {
	list-style-type: none;
}



/* my style */

.bg {
	width: 100%;
	background-color: #f8f8f8;	
}
.polosa {
	margin: 0 auto;
	width: 42px;
	height: 2px;
	background-color: #d55727;
}

.item {
	display: inline-block;
	vertical-align: middle;
	margin: 40px 130px;
}

.client-title {
	color: black;
	font-family: Raleway;
	font-size: 40px;
	font-weight: 400;
	line-height: 14px;
	text-transform: uppercase;
	text-align: center;
}

.triangle {
	position: relative;
	top: 50px;
	pading-top: 50px;
	margin:0 auto;
	width: 0;
    height: 0;
    border-top: 26px solid #d55727;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    }
