

body {
	margin: 0;
	padding: 0;
}

header {
	background-image: url(img/bg-header.png);
	background-size: cover;
	width: 100%;
	



}

.logo {
	padding: 200px 0;
	text-align: center;
	

}

.arr {

	position: absolute;
	margin-left: 96%;
	margin-top: 10%;
	background-color: #36b7b3;
	padding-right: 13px;
	padding-left: 13px;
	padding-bottom: 5px;
	padding-top: 10px;

}


.menu {
		
		font-size: 15px;
		text-align: center;
		padding-top: 20px; 
		padding-bottom: 20px;
		background-color: #36b7b3;
		font-family: helvetica;
		font-weight: lighter;
		
		
}

.menu-item {
		color: #ffffff;
		padding: 10px;


}

.menu a:hover {
		background-color: #d55727;
		cursor: pointer;
	}

	a {
		text-decoration: none;
	}


.title1 {
	margin-top: 60px;
	margin-bottom: 0;
	padding-bottom: 0;
	text-align: center;
	font-family: helvetica;
	font-weight: 300;
	font-size: 38px;
}

hr {
	border: none; 
    background-color: #d55727; 
    color: #d55727; 
    height: 2px;
    width: 40px;
}

.aboutme {
	margin-left: 17%;
	margin-bottom: 600px;
	


}

.txt1 {
	width: 27%;
	font-family: helvetica;
	font-weight: lighter;
	font-size: 16px;
	margin-top: 120px;
	float: left;
	line-height: 22px;



}



.bird {
	position: absolute;
	width: 55%;
	margin-left: 40px;
	margin-top: -110px;
	margin-right: 0;
	padding: 0;


	
}
<<<<<<< Updated upstream
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.polosa {
	margin: 0 auto;
	width: 42px;
	height: 2px;
	background-color: #d55727;
}

.services {
	margin-bottom: 100px;
	margin-top: 60px;
	background-color: #f8f8f8;

}



.services ul {
	text-align: center;
	
}

.services li {
	margin-top: 60px;
}

.services h2 {
	text-align: center;
	line-height: 1;
	color: black;
	font-family: Tahoma;
	font-size: 40px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 73px 0 26px 0;
	
}

.services_item {
 	display: inline-block;
    margin-right: 5px;
    padding: 3px;
    vertical-align: top;
}

.services_img_1,
.services_img_2,
.services_img_3 {
	width: 64px;
	height: 63px;
	border-radius: 100%;
	display: inline-block;
	background-color: #d55727;
	background-image: url(img/icon-list.png);
	background-repeat: no-repeat;
	background-position: 50%;	
}

.services_img_1 {
	background-image: url(img/icon-list.png);
}

.services_img_2 {
	background-image: url(img/icon-pen.png);
}

.services_img_3 {
	background-image: url(img/icon-draw.png);
}

.services_text {
	line-height: 2;
	color: black;
	font-family: Tahoma;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 36px;

}

.services_banner_backgroud {
	background-image: url(img/bg-time.png);
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

.services_banner_img {
	width: 1085px;
	height: 366px;
	margin: 33px 55px 38px 60px;
}


.portfolio h2 {
	text-align: center;
	line-height: 1;
	color: black;
	font-family: Tahoma;
	font-size: 40px;
	font-weight: 400;	
	text-transform: uppercase;
	margin: 73px 0 26px 0;
}

.portfolio ul {
	margin-top: 63px;
	width: 100%;
}

.portfolio li {
	display: inline-block;
	width: 33%;
}

.portfolio img {
	width: 100%;
}
=======




.bg {
	width: 100%;
	background-color: #f8f8f8;	
}
.polosa {
	margin: 0 auto;
	width: 42px;
	height: 2px;
	background-color: #d55727;
}

.item {
	display: inline-block;
	vertical-align: middle;
	margin: 40px 130px;
}

.client-title {
	color: black;
	font-family: Raleway;
	font-size: 40px;
	font-weight: 400;
	line-height: 14px;
	text-transform: uppercase;
	text-align: center;
}

.triangle {
	position: relative;
	top: 50px;
	pading-top: 50px;
	margin:0 auto;
	width: 0;
    height: 0;
    border-top: 26px solid #d55727;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    }




>>>>>>> Stashed changes

